.content_wrapper {
  padding: 1.5rem;
}

.container {
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.50);
}

.frame_title {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: clamp(1rem, calc(100vw / 18 ) , 3rem);
  font-weight: bold;
  color: #07033E;
}

.card_frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

.large_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64vw;
  height: 64vw;
  border-radius: 0.5rem;
  border: 0px solid #333;
  background-color: #FF6591;
  filter: drop-shadow(0px 3px 4px rgba(155, 104, 159, 0.71));
  font-size: clamp(1rem, 100vw / 3 , 10rem);
  font-weight: bold;
  color: #FFF;
  text-shadow    :
       3px  3px 1px #333333,
      -3px  3px 1px #333333,
       3px -3px 1px #333333,
      -3px -3px 1px #333333,
       3px  0px 1px #333333,
       0px  3px 1px #333333,
      -3px  0px 1px #333333,
       0px -3px 1px #333333;
}

.small_card_frame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
}

.small_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22vw;
  height: 22vw;
  border-radius: 0.5rem;
  border: 0px solid #333;
  background-color: #FF6591;
  filter: drop-shadow(0px 3px 4px rgba(155, 104, 159, 0.71));
  font-size: clamp(24px, calc(100vw / 9 ) , 68px);
  font-weight: bold;
  color: #FFF;
  text-shadow: rgb(7, 3, 62) 2px 0px 0px, rgb(7, 3, 62) 1.75517px 0.958851px 0px, rgb(7, 3, 62) 1.0806px 1.68294px 0px, rgb(7, 3, 62) 0.141474px 1.99499px 0px, rgb(7, 3, 62) -0.832294px 1.81859px 0px, rgb(7, 3, 62) -1.60229px 1.19694px 0px, rgb(7, 3, 62) -1.97998px 0.28224px 0px, rgb(7, 3, 62) -1.87291px -0.701566px 0px, rgb(7, 3, 62) -1.30729px -1.5136px 0px, rgb(7, 3, 62) -0.421592px -1.95506px 0px, rgb(7, 3, 62) 0.567324px -1.91785px 0px, rgb(7, 3, 62) 1.41734px -1.41108px 0px, rgb(7, 3, 62) 1.92034px -0.558831px 0px;
}

@media (min-width: 820px) {
  .large_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 45vw;
    border-radius: 0.5rem;
    border: 0px solid #333;
    background-color: #FF6591;
    filter: drop-shadow(0px 3px 4px rgba(155, 104, 159, 0.71));
    font-size: clamp(1rem, 100vw / 3 , 10rem);
    font-weight: bold;
    color: #FFF;
    text-shadow    :
    3px  3px 2px #333333,
   -3px  3px 2px #333333,
    3px -3px 2px #333333,
   -3px -3px 2px #333333,
    3px  0px 2px #333333,
    0px  3px 2px #333333,
   -3px  0px 2px #333333,
    0px -3px 2px #333333;
  }

  .small_card_frame {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3.5vw;
  }

  .small_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 14vw;
    border-radius: 0.5rem;
    border: 0px solid #333;
    background-color: #FF6591;
    filter: drop-shadow(0px 3px 4px rgba(155, 104, 159, 0.71));
    font-size: clamp(24px, calc(100vw / 9 ) , 68px);
    font-weight: bold;
    color: #FFF;
    text-shadow: rgb(7, 3, 62) 2px 0px 0px, rgb(7, 3, 62) 1.75517px 0.958851px 0px, rgb(7, 3, 62) 1.0806px 1.68294px 0px, rgb(7, 3, 62) 0.141474px 1.99499px 0px, rgb(7, 3, 62) -0.832294px 1.81859px 0px, rgb(7, 3, 62) -1.60229px 1.19694px 0px, rgb(7, 3, 62) -1.97998px 0.28224px 0px, rgb(7, 3, 62) -1.87291px -0.701566px 0px, rgb(7, 3, 62) -1.30729px -1.5136px 0px, rgb(7, 3, 62) -0.421592px -1.95506px 0px, rgb(7, 3, 62) 0.567324px -1.91785px 0px, rgb(7, 3, 62) 1.41734px -1.41108px 0px, rgb(7, 3, 62) 1.92034px -0.558831px 0px;
  }
}
