.content {
  overflow-y: auto;
  padding: 2vw 0vw 5vw 0vw;
  min-height: 100vh;
}

.reachModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

.reachModal p {
  font-family: "Noto Sans JP";
  font-size: 6vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 4vw;
}

.reachModal button {
  margin-top: 3vw;
}

.settingsModal,
.settingsModal > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingsModal {
  gap: 9vw;
}

.settingsModal p {
  font-family: "Noto Sans JP";
  font-size: 6vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 3.5vw;
}
