{$NUTFES_DEV_SITE:nutfes-bingo.localhost} {
	tls internal

	handle_path /supabase/* {
		reverse_proxy {$SUPABASE_KONG_UPSTREAM:supabase_kong_nutfes-Bingo:8000}
	}

	handle {
		reverse_proxy app:3000
	}
}
