.container {
  min-height: 100vh;
  background-color: white;
}

.main {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  gap: 0.5rem;
}

.buttonIcon {
  width: 21px;
  height: 22px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 2rem 0rem;
}

.inputForm {
  width: 300px;
  border-radius: 0.25rem;
  border: 2px solid #07033e;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
}

.inputForm:focus,
.inputForm:active {
  color: #333;
  border: 3px solid #a28bab;
}

@media screen and (max-width: 1225px) {
  .form {
    display: grid;
    margin: 1rem 0rem 0rem;
  }
}

.frame {
  border-radius: 1rem;
  background: white;
  border: solid 1vw #ff3342;
  padding: 1rem 1rem 3rem 1rem;
}

.frame p {
  color: #07033e;
  font-size: 1.8rem;
  font-family: bold;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.main {
  margin-bottom: 0.5rem;
}

@media (min-width: 1225px) {
  .form {
    display: flex;
    justify-content: start;
  }
}

@media screen and (max-width: 1224px) {
  .frame {
    min-width: 85vw;
  }

  .frame p {
    color: #07033e;
    font-size: 1.4rem;
    font-family: bold;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .inputForm {
    border-radius: 0.625rem;
    border: 2px solid #07033e;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
  }

  .inputForm:focus,
  .inputForm:active {
    color: #333;
    border: 2px solid #a28bab;
  }
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 0rem 2rem;
}

@media screen and (max-width: 735px) {
  .item {
    display: grid;
    margin: 0rem 0rem;
  }

  .frame p {
    margin-left: 0;
  }

  .frame {
    text-align: center;
  }

  .main {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

.frame select {
  border-radius: 0.5rem;
  border: 2px solid #07033e;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #07033e;
  font-weight: 700;
  padding: 0.8rem 1rem;
}

.errormessage {
  color: black;
  border: 1px red;
  font-size: small;
}

.flexerror {
  display: flex;
  flex-direction: column;
}

.Button {
  border-radius: 0.5rem;
  border: 2px solid #07033e;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #07033e;
  font-weight: 700;
  padding: 0.8rem 1rem;
}

.Button:hover {
  background: #ff3342;
  color: #fff;
}

.not_hover_Button {
  border-radius: 0.5rem;
  border: 2px solid #07033e;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #07033e;
  font-weight: 700;
  padding: 0.8rem 1rem;
}

.loginContainer {
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  background-image: linear-gradient(180deg, #d95b7f, #856db2, #07033e);
}

.loginButton {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnOpen {
  padding: 0.9em 2em;
  border: 0.2rem solid #333;
  border-radius: 1.5rem;
  background-color: #d9d9d9;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

.btnOpen:hover {
  background-color: #a28bab;
  color: var(--primary);
  transition: 0.25s;
}

.btnOpen {
  padding: 0.9em 2em;
  border: 0.2rem solid #333;
  border-radius: 1.5rem;
  background-color: #d9d9d9;
  color: #333;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
}

.btnOpen:hover {
  background-color: #a28bab;
  color: var(--primary);
  transition: 0.25s;
}

.img {
  max-width: 100vw;
}
