.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.title {
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
  font-size: 6vw;
}

.actions {
  display: flex;
  gap: 3vw;
  margin-top: 3vw;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 2vw;
  }
  .actions {
    gap: 1vw;
    margin-top: 1vw;
  }
}
