.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 1vw;
  border: 1vw solid var(--main-color);
  color: var(--background-color);
  background: var(--main-color);
  width: 25vw;
  height: 5.6vh;
  padding: 1vw;
  font-family: var(--font-silom), "Noto Sans JP", sans-serif;
}

.inversion {
  color: var(--main-color);
  background: var(--background-color);
  border-color: var(--main-color);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1vw rgba(102, 102, 102, 0.2);
  transform: translateY(4px);
}

.button:disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

.button:disabled:active {
  background: var(--main-color);
  box-shadow: none;
  transform: none;
}

.button.inversion:disabled:active {
  background: var(--background-color);
}

@media screen and (min-width: 1024px) {
  .button {
    border: 0.3vw solid var(--main-color);
  }

  .button:active {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px rgba(102, 102, 102, 0.2);
    transform: translateY(4px);
  }
}

@media (min-width: 640px) {
  .button {
    width: 108px;
    height: 52px;
    padding: 4px;
    border-width: 4px;
    border-radius: 4px;
  }
}
