.reachIcon {
  background-color: #ff3342;
  color: white;
  padding: 1vw;
  width: 36.875vw;
  height: 16.875vw;
  border: none;
  border-radius: 9.375vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 9.375vw;
  height: 9.375vw;
  /* stroke: white;
  fill: white; */
}

.text {
  font-size: 6.25vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.color_inversion {
  background-color: white;
  color: #ff3342;
  stroke: white;
}

/* .color_inversion svg {
  fill: #ff3342;
} */
