.container{
  width: 65vw;
}

.embla {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  gap: 1vh;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.screenTransition{
  display: flex;
  justify-content:space-around; 
}

.carousel__dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}