.container {
  width: 20vw;
  height: 20vw;
  border: 1.25vw solid var(--main-color);
  background: linear-gradient(135deg, var(--background-color) 50%, var(--sub-color) 51%);
  border-radius: 3.125vw;
  box-sizing: border-box;
  box-shadow: 0.9375vw 0.9375vw 0px var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11.25vw;
  color: var(--main-color);
}
@media (min-width: 1024px) {
  .container {
    width: 9.5vw;
    height: 9.5vw;
    border: 0.5rem solid var(--main-color);
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0rem var(--main-color);
    font-size: 5vw;
  }
}
