.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  width: 100%;
  box-sizing: border-box;
  padding: 3.125vw 1.5vw calc(3.125vw + env(safe-area-inset-bottom));
  background-color: var(--background-color);
  box-shadow:
    0 -0.625vw 3.125vw 0 var(--nav-top-shadow-color, transparent),
    0 -0.625vw 3.125vw rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.center {
  justify-content: center;
  gap: 3vw;
}

@media (min-width: 640px) {
  .navigationBar {
    padding: 13px 6px calc(13px + env(safe-area-inset-bottom));
    box-shadow:
      0 -3px 13px 0 var(--nav-top-shadow-color, transparent),
      0 -3px 13px rgba(0, 0, 0, 0.1);
  }

  .center {
    gap: 13px;
  }
}
