/* Header */
.container {
  width: 100vw;
  background-color: #ffffff;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vw;
}

.logo {
  width: 31.25vw;
}

.icon {
  font-size: 9.375vw;
  color: #ff3342;
  border: none;
  background: none;
  border-radius: 15px;
}
