.container {
  width: 100vw;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 500;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vw;
}

.icon {
  font-size: 9.375vw;
  color: var(--main-color);
  border: none;
  background: none;
}

.logo {
  width: 31.25vw;
}

.logo path {
  fill: var(--sub-color);
}

.logo path:nth-child(2) {
  fill: var(--main-color);
}
