.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  contain: content;
  background: rgba(51, 51, 51, 0.6);
}

.frame {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 1rem;
  object-fit: cover;
  padding: 40px;
  overflow: hidden;
  background: #FFF;
  animation: zoomIn 0.5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  will-change: transform, opacity;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.icon {
  color: #07033E;
}

.contents {
  width: 700px;
  height: 360px;
  background-color: #07033E;
}

.number {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #d9d9d9;
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 700;
  font-feature-settings: "palt" 1;
}

.btnClose {
  position: absolute;
  top: 9px;
  right: 10px;
  padding: 0;
  font-size: 2.7rem;
  line-height: 1;
  color: #d9d9d9;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title {
  color: #07033E;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
  text-align: center;
}

.inputForm {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.inputNum {
  width: 100px;
  height: 100px;
  background-color: #FF6591;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 3rem;
  color: #FFF;
  -webkit-text-stroke: 2px #333;
  text-align: center;
  border: 0rem solid #333;
  border-radius: 1rem;
  filter: drop-shadow(0px 2px 4px rgba(155, 104, 159, 0.71));
  }

.inputNum::-webkit-inner-spin-button,
.inputNum::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.explanation {
  color: #FFF;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 2rem 2rem 0.5rem;
}

.judgementContents {
  display: flex;
}

.jugementButton {
    position: relative;
    background: rgba(255, 255, 255, 0.70);
    padding: 0.8rem 2.7rem;
    text-align: center;
    color: #07033E;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
    margin-left: 2rem;
}

.jugementButton:active {
    transform: translateY(4px);
}

.resetButton {
  position: relative;
  background: rgba(255, 255, 255, 0.70);
  padding: 0.8rem 2.7rem;
  text-align: center;
  color: #07033E;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-in-out;
  margin-left: 1rem;
}

.resetButton:active {
  transform: translateY(4px);
}

.jugementResults {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #ffffff;
  font-size: 50px;
  text-shadow: 2px 2px 0px rgb(205, 85, 85), 4px 4px 0px rgb(205, 85, 85);
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 1rem;
  margin-left: 1rem;
}
