.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6);
}

.frame {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 40px;
  background: #ff3342;
  animation: zoomIn 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  will-change: transform, opacity;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.inputContainer input {
  width: 18%;
  height: 60px;
  background-color: #fff;
  font-weight: 700;
  font-size: 2rem;
  color: #333;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 2px 4px rgba(155, 104, 159, 0.71));
}

.inputContainer.bingo input {
  color: #ff3342;
  font-weight: 900;
}

.inputContainer.noWin input {
  color: #333;
  font-weight: 900;
}

input.active {
  outline: none;
  border: 2px solid #ff3342;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.button {
  background-color: #fff;
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px;
  border: solid 2px #333;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.9);
}

.submitButton {
  width: 100%;
  background-color: #ff3342;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetButton {
  width: 100%;
  background-color: #fff;
  color: #ff3342;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 2px #ff3342;
}

.btnClose {
  position: absolute;
  top: 9px;
  right: 10px;
  font-size: 2.7rem;
  color: #d9d9d9;
  background: transparent;
  border: none;
  cursor: pointer;
}

.title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
}

.contents {
  width: 700px;
  height: 360px;
  background-color: #07033e;
  border-radius: 1rem;
}

.judgementContents {
  display: flex;
}

.frame {
  padding: 8px;
}

.contents {
  width: 340px;
  height: auto;
}

.title {
  font-size: 2rem;
  margin: 0.3rem 0;
}

.judgementResults {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff6591;
  padding: 20px;
  border-radius: 1rem;
  border: 2px solid #fff;
}
