/* Header */
.container {
  width: 100vw;
  background-color: #07033e;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none;    /* Firefox 対応 */
}

.main::-webkit-scrollbar {
  display: none; /* Chrome, Safari 対応 */
}

.title {
  color: #ffffff;
  font-size: 6vw;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
  margin: 1rem;
  display: inline-block;
  white-space: nowrap;
}

.title p {
  padding: 0.9rem 0rem 0.5rem 1rem;
}

@media (min-width: 1300px) {
  .title p {
    font-size: 3rem;
    margin: 1rem;
  }
}

@media (max-width: 1300px) {
  .main {
    flex-direction: column;
  }
}

@media (max-width: 1300px) and (min-width: 700px) {
  .title {
    font-size: 3vw;
  }
}
