.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62.5vw;
  height: 62.5vw;
  border: 2vw solid #ff3342;
  background: linear-gradient(135deg, #fff 50%, #ffeeb1 51%);
  border-radius: 7vw;
  box-sizing: border-box;
  box-shadow: 1vw 1vw 0vw 0.9vw #ff3342;
}

.number {
  font-size: 31.25vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ff3342;
}

@media (min-width: 1024px) {
  .container {
    width: 33.125rem;
    height: 33.125rem;
    border: 1rem solid #ff3342;
    border-radius: 1.25rem;
    box-shadow: 0.5rem 0.5rem 0rem #ff3342;
  }

  .number {
    font-size: 300px;
  }
}
