.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 1vw;
  border: 1vw solid #ff3342;
  color: white;
  background-color: #ff3342;
  width: 25vw;
  height: 5.6vh;
  padding: 1vw;
  font-family: "Noto Sans JP";
}

.inversion {
  color: #ff3342;
  background-color: white;
}

.button:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1vw rgba(102, 102, 102, 0.2);
  transform: translateY(4px);
}

@media screen and (min-width: 1024px) {
  .button {
    border: 0.3vw solid #ff3342;
  }

  .button:active {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px rgba(102, 102, 102, 0.2);
    transform: translateY(4px);
  }
}
