.iconContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* 375pxを基準にした場合の10px */
  padding: 2.67vw;
  border-radius: 2.67vw;
  /* 375pxを基準にした場合の54px */
  width: 14.4vw;
  height: 14.4vw;
  font-size: 14.4vw;
  border: none;
  outline: none;
}

.icon {
  /* 54pxを基準にした場合の30px */
  font-size: 0.5555555555555556em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff3342;
}

.text {
  /* 54pxを基準にした場合の9px */
  font-size: 0.1666666666666667em;
  font-weight: 400;
  color: #ff3342;
}

.outline {
  border: 0.53vw solid #ff3342;
}

.iconContainer.color_inversion {
  background-color: #ff3342;
}

.iconContainer.color_inversion .icon,
.iconContainer.color_inversion .text {
  color: white;
}
