.iconContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.67vw;
  background-color: white;
  border-radius: 2.67vw;
  width: 14.4vw;
  height: 14.4vw;
  border: none;
  outline: none;
  font-size: 14.4vw;
}

.icon {
  font-size: 0.5555555555555556em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF3342;
}

.text {
  font-size: 0.1666666666666667em;
  font-weight: 400;
  color: #FF3342;
}

.outline {
  border: 0.53vw solid #FF3342;
}

.iconContainer.color_inversion {
  background-color: #FF3342;
}

.iconContainer.color_inversion .icon,
.iconContainer.color_inversion .text {
  color: white;
}
