body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--background-color);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display:none;
}

:root {
  --main-color: #20a0d8;
  --sub-color: #c4deed;
  --background-color: #fff;
}
