.container {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: linear-gradient(180deg, #d95b7f 0%, #856db2 23.96%, #07033e 100%);
}

.contents {
  display: flex;
  padding: 0.5rem 1rem;
}

.languageBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #d95b7f;
  font-size: clamp(2.5rem, calc(100vw / 20), 5rem);
}

.language {
  display: flex;
  justify-content: center;
  background-color: #07033e;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

.languageBlock p {
  background-color: #07033e;
}

.main {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.link {
  text-decoration: none;
  color: #07033e;
  font-weight: 700;
  font-size: 1.2rem;
}

.buttonContents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.iconButton {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  color: #d95b7f;
  border: solid 0.13rem #ffffffd5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(18, 36, 99, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .btnOpen {
    display: none;
  }

  .contents {
    display: flex;
    padding: 0.5rem 1rem;
  }

  .contents p {
    line-height: 19px;
    color: #333333;
  }

  .icon {
    background-color: var(--background-color);
    color: #333333;
  }
}
